
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.pl-0 {
    padding-left: 0px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.ptb-0 {
    padding-top:  0px;
    padding-bottom: 0px;
}

.ptb-5 {
    padding-top:  5px;
    padding-bottom: 5px;
}

.ptb-10 {
    padding-top:  10px;
    padding-bottom: 10px;
}

.ptb-15 {
    padding-top:  15px;
    padding-bottom: 15px;
}

.pr-0 {
    padding-right:  0px;
}

.pr-5 {
    padding-right:  5px;
}

.pr-10 {
    padding-right:  10px;
}

.pr-15 {
    padding-right:  15px;
}

.plr-0 {
    padding-left:  0px;
    padding-right:  0px;
}

.plr-5 {
    padding-left:  5px;
    padding-right:  5px;
}

.plr-10 {
    padding-left:  10px;
    padding-right:  10px;
}

.plr-15 {
    padding-left:  15px;
    padding-right:  15px;
}

.p-0 {
    padding-left:  0px;
    padding-right:  0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.p-10 {
    padding-left:  10px;
    padding-right:  10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-15 {
    padding-left:  15px;
    padding-right:  15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-20 {
    padding-left:  20px;
    padding-right:  20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ml-0 {
    margin-left: 0px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-0 {
    margin-right:  0px;
}

.mr-5 {
    margin-right:  5px;
}

.mr-10 {
    margin-right:  10px;
}

.mr-15 {
    margin-right:  15px;
}

.mlr-0 {
    margin-left:  0px;
    margin-right:  0px;
}

.mlr-5 {
    margin-left:  5px;
    margin-right:  5px;
}

.mlr-10 {
    margin-left:  10px;
    margin-right:  10px;
}

.mlr-15 {
    margin-left:  15px;
    margin-right:  15px;
}
