
.fz-xxs {
    font-size: 10px;
}

.fz-xs {
    font-size: 12px;
}

.fz-sm {
    font-size: 14px;
}

.fz-md {
    font-size: 16px;
}

.fz-lg {
    font-size: 18px;
}

.fz-xl {
    font-size: 20px;
}

.fz-xxl {
    font-size: 22px;
}

.fz-xxxl {
    font-size: 24px;
}

.fz-xxxxl {
    font-size: 26px;
}

.fz-xxxxxl {
    font-size: 40px;
    line-height: 20px;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}
