<div class="pl-4 pr-4">
    <div class="mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-white p-0">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/dashboard/albums/{{id}}">Album list of {{user?.username}}</a></li>
                <li class="breadcrumb-item active">Photos in {{album?.title}}</li>
            </ol>
        </nav>
    </div>
    <div class="fw-400 fz-xxxl">PHOTOS IN {{album?.title | uppercase}}</div>
    <div class="fz-md fw-300 pb-3">Photos</div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let photo of photos">
            <img class="card-img-top mb-2" [src]="photo?.url" alt="Card image cap">
        </div>
    </div>
</div>