.userdata-card{
    border: none;
    background-color: #fff;
    width: 100%;
}

.user-summary-card{
    border: none;
    background-color: #fff;
    width: 100%;
}

.text-underline {
    text-decoration: underline;
}

.my-pagination ::ng-deep .ngx-pagination{
    margin-bottom: 0px;

    li {
        border: 1px solid #ddd;
        margin-right: 0px;
        color: #2199e8;
        font-size: 12px;
        font-weight: 300;
    }

    .current {
        color: #ffffff;
    }

    .disabled {
        color: #cacaca;
    }
}

.card-padding {
    padding: 12px;
}

.list-pointer {
    cursor: pointer;
}