<section class="mt-5 pl-4 pr-4">
    <div class="row">
        <div class="col-lg-4 col-12 pb-2">
            <app-status-card cardTitle="NO OF USERS" [statusValue]="userCount" bgColour="bg-orange">
            </app-status-card>
        </div>
        <div class="col-lg-4 col-12 pb-2">
            <app-status-card cardTitle="NO OF PHOTOS" [statusValue]="photoCount" bgColour="bg-green">
            </app-status-card>
        </div>
        <div class="col-lg-4 col-12 pb-2">
            <app-status-card cardTitle="NO OF ALBUMS" [statusValue]="albumCount" bgColour="bg-lightb">
            </app-status-card>
        </div>
    </div>
</section>
<section class="mt-4 mb-2 pl-4 pr-4">
    <div class="row">
        <div class="col-lg-8 mt-2 mb-4">
            <div class="card userdata-card shadow bg-white">
                <div class="card-header bg-white">
                    <div class="align-items-center fz-sm fw-500">USERS</div>
                </div>
                <div *ngIf="users">
                    <div class="list-group-item"
                        *ngFor="let user of users | paginate: { itemsPerPage: 4, currentPage: p }">
                        <div class="row list-pointer" (click)="goToAlbums(user?.id)">
                            <div class="col-lg-9 col-md-9 col-8 fz-xs fw-300 text-left">
                                <span class="text-underline">{{user?.name}}</span><span
                                    class="plr-10 text-gray fw-400">{{user?.phone}}</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-4 fz-xs fw-300 text-right">{{user?.albumCount}} Albums
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!users">
                    <div class="card-body text-center fz-xs text-gray fw-400">No Users found</div>
                </div>
                <div *ngIf="users" class="card-footer text-right bg-white">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="4" autoHide="true"
                        responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-4">
            <div class="card user-summary-card shadow card-padding">
                <div class="align-items-center fz-sm fw-500 text-center pb-3">USERS SUMMARY</div>
                <div *ngIf="doughnutChartData">
                    <div class="p-2">
                        <canvas baseChart [data]="doughnutChartData" [options]="options" [colors]="colors"
                            [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                        </canvas>
                    </div>
                    <div class="pl-4">
                        <div class="row fz-xs fw-300 ptb-5">Users with</div>
                        <div class="row align-items-center" *ngFor="let item of doughnutChartLabels;index as i">
                            <div class="col-1 pl-0">
                                <li class="fz-xxxxxl text-left " [ngStyle]="{color: colors[0].backgroundColor[i]}"></li>
                            </div>
                            <div class="col-11 pl-0">
                                <span class="text-black text-left fz-xs fw-300">{{item}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!doughnutChartData">
                    <div class="card-body text-center fz-xs text-gray fw-400">No Data found</div>
                </div>
            </div>
        </div>
    </div>
</section>