<div class="pl-4 pr-4">
    <div class="mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-white p-0">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Album list of {{user?.username}}</li>
            </ol>
        </nav>
    </div>
    <div class="fw-400 fz-xxxl">ALBUM LIST OF {{user?.name | uppercase}}</div>
    <div class="fz-md fw-300 pb-3">Album List</div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let album of albums">
            <app-album-details [album]="album" [userId]="user?.id"></app-album-details>
        </div>
    </div>
</div>