<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-blue border-right" id="sidebar-wrapper">
    <div class="sidebar-heading seperator text-white text-center fz-xl fw-500">WELCOME </div>
    <div id="myNav" class="list-group mt-20 fz-sm">
      <a [routerLinkActive]="['active']" [routerLink]="['/dashboard']"
        class="list-group-item bg-blue fz-xs text-white">DASHBOARD</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
      <button id="menu-toggle" (click)="toggleNav()" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link navbar-text" href="#">James Green</a>
          </li>
          <li class="nav-item profile-avatar">
            <a class="nav-link navbar-text" href="#"></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid overflow-scroll">
      <router-outlet></router-outlet>
    </div>

  </div>
  <!-- /#page-content-wrapper -->
</div>