body {
    overflow-x: hidden;
  }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 13px;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  .list-group-item {
    border: 0px;
    background-color: #386abf;
  }

  .seperator {
    border-bottom: 1px solid #ffffff;
    margin: 0 10px;
  }

  .active {
    background-color:#5d85ca;
    margin: 0 10px;
    border-radius: 0px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .navbar-text{
    color:#444444 !important;
    font-weight: 500;
  }

  .profile-avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d7d7d7;
    margin-right: 10px;
  }

  .overflow-scroll {
    height: calc(100vh - 57px);
    overflow-y: scroll;
  }