<div class="card album-details-card shadow h-100">
    <img class="card-img-top"
        [src]="album?.thumbnailUrl"
        alt="Card image cap">
    <div class="card-body album-details-card-body p-3">
        <p class="card-text">{{album?.title}}</p>
    </div>
    <div class="bg-white p-3">
        <div class="btn btn-blue btn-sm m-0" (click)="viewPhotos(album?.id)">view Photos</div>
    </div>
</div>