.status-card{
    border: none;
    border-radius: 0px;
    padding: 15px 15px;
    width: 100% !important;
    color: #fff;
}

.status-card-title{
    font-weight: 400;
    margin-top: 8px;
}

.status-card-value{
    font-size: 24px;
    font-weight: 500;
    padding-right: 30px !important;
}