<div class="container status-card card shadow-sm h-100" [ngClass]="bgColour">
    <div class="row plr-0 align-items-center">
        <div class="col-lg-7 col-8 text-left plr-0 fz-sm fw-300">{{cardTitle}}</div>
        <div class="col-lg-5 col-4 text-right plr-0 fz-xl fw-400">{{statusValue}}</div>
    </div>
</div>