<router-outlet></router-outlet>
<div class="upay-request-loader" [hidden]="isLoaderLoded">
  <div class="upay-request-loader_animation">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>