.upay-request-loader {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.66);
    z-index: 99999;
    &_animation {
        height: 90px;
        width: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        text-align: center;
        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: rgba(232, 70, 72, 1);
            margin: 35px 5px;
            &:nth-child(1) {
                animation: bounce 1s ease-in-out infinite;
            }
            &:nth-child(2) {
                animation: bounce 1s ease-in-out 0.33s infinite;
            }
            &:nth-child(3) {
                animation: bounce 1s ease-in-out 0.66s infinite;
            }
        }
    }
}

@keyframes bounce {
    0%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}