//assets
@import "assets/scss/spacing";
@import "assets/scss/typography";

body{
    background-color: #f7f8fc;
}

.bg-blue {
    background-color: #386abf;
}

.bg-white{
    background-color: #ffffff;
}

.bg-green{
    background-color: #1cbcb4 !important;
}

.bg-orange{
    background-color: #faad81 !important;
}

.bg-lightb{
    background-color: #00adef !important;
}

.bb-bue {
    border-bottom: 1px solid #386abf !important;
}

.text-black {
    color: #212529;
}

.text-gray {
    color: #a9a9a9;
}

.breadcrumb-white{
    background-color: #ffffff !important;
}

.breadcrumb-white li{
    font-size: 14.5px;
}

.btn-blue{
    background-color: #386abf !important;
    color: #ffffff !important;
}


.breadcrumb-item.active {
    color: #007bff !important;
}